{% extends 'base.html'%}

{% block content %}
    <form class="" action="{% url 'book_hotel' hotel_name%}" method="post">
      {% csrf_token%}
      <input type="text" name="hotel_name" value="{{hotel_name}}" readonly required> <br>
      <input type="name" name="user_name" value="{{user.username}}" readonly required> <br>
      <input type="name" name="user_email" value="{{user.email}}" readonly required> <br>
      <input type="number" name="stay" placeholder="Enter say in days" required> <br>
      <select class="" name="method">
        <option value="oneline_payment">Online Payment</option>
        <option value="cash">Cash</option>
        <option value="no_payment">No payment</option>
      </select> <br>
      <button type="submit">Book Hotel</button>
      <br>
    </form>

{% endblock %}
