{% extends 'base.html' %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Hotel Register</h3>
        </div>
        <div class="card-body">
          <form action="{% url 'hotel_register'%}" method="post">
            {% csrf_token %}
            <input class="form-control" type="text" name="name" placeholder="Hotel Name"><br>
            <input class="form-control" type="text" name="address" placeholder="Address"><br>
            <input class="form-control" type="text" name="city" placeholder="City"><br>
            <input class="form-control" type="number" name="capacity" placeholder="Capacity"><br>
            <button class="btn btn-primary" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>

{% endblock %}
