{% extends 'base.html' %}

{% block content %}
      {% if error %}
        <h1>{{error}}</h1>
      {% endif %}
      <div class="container">
        <div class="row">
          <div class="col-md-4">

          </div>
          <div class="col-md-4">
            <div class="card">
            <h5 class="card-header">Log In</h5>
            <div class="card-body">
              <form class="" action="{% url 'user_login'%}" method="post">
                {% csrf_token %}
                <input class="form-control" type="text" name="username" placeholder="Username" required> <br>
                <input class="form-control" type="password" name="password" placeholder="Password" required> <br>
                <button class="btn btn-primary btn-block" type="submit">Log In</button> <br>
              </form>
            </div>
          </div>
          </div>
          <div class="col-md-4">

          </div>
        </div>
      </div>


{% endblock %}
