{% extends 'base.html'%}

{% if user.is_authenticated %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h3>User Profile</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <form class="" action="{% url 'profile' %}" method="post">
                  <div class="form-group">
                    <input class="form-control" type="text" name="username" value="{{profile.username}}" readonly>
                  </div>
                  <div class="form-group">
                    <input  class="form-control" type="email" name="email" value="{{profile.email}}" readonly>
                  </div>
                  <div class="form-group">
                    <input  class="form-control" type="text" name="fist_name" value="{{profile.first_name}}" placeholder="First name">
                  </div>
                  <div class="form-group">
                    <input  class="form-control" type="text" name="last_name" value="{{profile.last_name}}" placeholder="Last Name">
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary" type="submit"> Update </button>
                  </div>
                </form>
              </div>
              <div class="col-md-4">
                <img src="https://www.placehold.it/150x150" alt="">
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-2">

      </div>
    </div>
  </div>

{% endblock %}
{% endif %}
