{% extends 'base.html'%}

{% block content%}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% if error %}
          {{error}}
        {% endif %}

        {% if hotel_list %}
          <table class="table table-bordered table-stripped">
            <thead>
              <th>#</th>
              <th>Name</th>
              <th>Address</th>
              <th>City</th>
              <th>Book</th>
            </thead>
            <tbody>
              {% for i in hotel_list %}
              <tr>
                <td></td>
                <td>{{i.name}}</td>
                <td>{{i.address}}</td>
                <td>{{i.city}}</td>
                <td><a href="{% url 'book_hotel' i.name %}">Book Hotel</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
