{% extends 'base.html'%}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Sign Up</h3>
          </div>
          <div class="card-body">
            {% if messages %}

            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}

            {% endif %}
            <form action="{% url 'user_signup' %}" method="post">
              {% csrf_token %}
              <input class="form-control" type="email" name="email" placeholder="Email" required> <br>
              <input class="form-control" type="username" name="username" placeholder="Username" required> <br>
              <input class="form-control" type="password" name="password1" placeholder="Password" required> <br>
              <input class="form-control" type="password" name="password2" placeholder="Confirm Password" required> <br>
              <button class="btn btn-primary" type="submit">Sign Up</button> <br>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>
{% endblock %}
